:root {
  --black: #000;
  --white: #fff;
  --green: #009f80;
  --red: #d9534f;
  --silver: #f4f4f4;
  --dark-grey: #555;
  --even-row: #F5F5F5;
  --odd-row: #FFF;
  --link: #00a9d4;
  --footer-background: #F5F5F5;
  --add-button: #009f80;
}
